Repository beyond-sw-camp/be08-3rd-4cari-4stIT, pull requests merged in 2024-08, with the labels that each got.

#1 [feat] Newsdetails page
  Backend/src/main/java/com/fourstit/pocari/controller/MainController.java
  Backend/src/main/java/com/fourstit/pocari/dto/NewsDto.java
  Backend/src/main/java/com/fourstit/pocari/entity/News.java
  Frontend/src/assets/go.png
  Frontend/src/assets/go_back.png
  Frontend/src/components/newsdetails/Newsdetails.css
  Frontend/src/components/newsdetails/Newsdetails.vue
  Frontend/src/main.js
  Frontend/src/router/index.js
  Frontend/src/store/index.js
Labels: front, backend, feat

#2 [feat] News 북마크 추가 관련
  Backend/src/main/java/com/fourstit/pocari/controller/MainController.java
  Backend/src/main/java/com/fourstit/pocari/dto/BookmarkRequestDto.java
  Backend/src/main/java/com/fourstit/pocari/dto/NewsDto.java
  Frontend/src/components/newsdetails/Newsdetails.vue
  Frontend/src/store/bookmark.js
  Frontend/src/store/user.js
Labels: front, backend, feat

#3 [feat] 목록으로 돌아가기 버튼 라우팅
  Frontend/src/components/newsdetails/Newsdetails.vue
Labels: front, feat

#4 [feat] Main page 수정
  Backend/src/main/java/com/fourstit/pocari/dto/NewsDto.java
  Backend/src/main/java/com/fourstit/pocari/entity/News.java
  Frontend/index.html
  Frontend/src/components/CardIT.vue
  Frontend/src/components/common/FooterIT.vue
  Frontend/src/components/common/HeaderIT.vue
  Frontend/src/components/newsdetails/Newsdetails.vue
  Frontend/src/services/NewsService.js
Labels: front, backend, feat

#5 [front + back] 회원가입 기능 추가
  Backend/src/main/java/com/fourstit/pocari/controller/MainController.java
  Backend/src/main/java/com/fourstit/pocari/dto/UserDto.java
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/components/JoinView.vue
  Frontend/src/router/index.js
Labels: front, backend, feat

#6 북마크 추가시 중복 불가, 북마크에서 상세페이지 이동 기능 추가
  Backend/src/main/java/com/fourstit/pocari/controller/MainController.java
  Backend/src/main/java/com/fourstit/pocari/repository/BookmarkRepository.java
  Frontend/src/components/Bookmark.vue
  Frontend/src/components/newsdetails/Newsdetails.vue
  Frontend/src/main.js
  Frontend/src/router/index.js
Labels: front, feat

#7 [feat] 북마크 버튼 동적 렌더링
  Backend/src/main/java/com/fourstit/pocari/controller/MainController.java
  Backend/src/main/java/com/fourstit/pocari/repository/BookmarkRepository.java
  Frontend/src/components/newsdetails/Newsdetails.js
  Frontend/src/components/newsdetails/Newsdetails.vue
  Frontend/src/store/bookmark.js
Labels: front, backend, feat

#8 검색 기능 추가 (헤더가 있는 모든 페이지에서 검색시 메인페이지로 이동 관심사가 아닌 전체 뉴스 기반)
  Backend/src/main/java/com/fourstit/pocari/controller/MainController.java
  Frontend/index.html
  Frontend/src/assets/HFcss.css
  Frontend/src/components/CardIT.vue
  Frontend/src/components/common/HeaderIT.vue
  Frontend/src/main.js
  Frontend/src/router/index.js
  Frontend/src/services/NewsService.js
Labels: front, backend, feat

#9 join - id duplicate check function add, main - login status show news by interest
  Backend/src/main/java/com/fourstit/pocari/controller/MainController.java
  Backend/src/main/java/com/fourstit/pocari/repository/CategoryRepository.java
  Backend/src/main/java/com/fourstit/pocari/repository/NewsRepository.java
  Backend/src/main/java/com/fourstit/pocari/repository/UserRepository.java
  Frontend/src/components/CardIT.vue
  Frontend/src/components/JoinView.vue
  Frontend/src/components/newsdetails/Newsdetails.vue
  Frontend/src/router/index.js
  Frontend/src/services/NewsService.js
Labels: front, backend, feat

#11 메인 검색어, 로그인 분기 처리
  Frontend/src/components/CardIT.vue
Labels: front, feat

#12 feat login
  .idea/.gitignore
  .idea/be08-3rd-4cari-4stIT.iml
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  Frontend/src/components/CardIT.vue
  Frontend/src/components/Login.vue
  Frontend/src/components/MyPageView.vue
  Frontend/src/components/common/HeaderIT.vue
  Frontend/src/main.js
  Frontend/src/store/user.js
  Frontend/vue-project/.gitignore
  Frontend/vue-project/.vscode/extensions.json
  Frontend/vue-project/README.md
  Frontend/vue-project/index.html
  Frontend/vue-project/jsconfig.json
  Frontend/vue-project/package.json
  Frontend/vue-project/public/favicon.ico
  Frontend/vue-project/src/App.vue
  Frontend/vue-project/src/assets/base.css
  Frontend/vue-project/src/assets/logo.svg
  Frontend/vue-project/src/assets/main.css
  Frontend/vue-project/src/components/HelloWorld.vue
  Frontend/vue-project/src/components/TheWelcome.vue
  Frontend/vue-project/src/components/WelcomeItem.vue
  Frontend/vue-project/src/components/icons/IconCommunity.vue
  Frontend/vue-project/src/components/icons/IconDocumentation.vue
  Frontend/vue-project/src/components/icons/IconEcosystem.vue
  Frontend/vue-project/src/components/icons/IconSupport.vue
  Frontend/vue-project/src/components/icons/IconTooling.vue
  Frontend/vue-project/src/main.js
  Frontend/vue-project/vite.config.js
Labels: front, backend, feat

#13 [frontend] feat: add bookmark navigator routing
  Frontend/src/components/common/HeaderIT.vue
  Frontend/src/components/newsdetails/Newsdetails.js
  Frontend/src/store/navigator.js
Labels: front, feat

#14 [front + back] feat: 헤더 글씨 색상 수정 및 메인 페이지 조회수 상위 3건 조회
  Backend/src/main/java/com/fourstit/pocari/controller/MainController.java
  Backend/src/main/java/com/fourstit/pocari/repository/NewsRepository.java
  Frontend/src/components/MainIT.vue
  Frontend/src/components/common/HeaderIT.vue
  Frontend/src/services/NewsService.js
Labels: front, backend, feat

#15 login function add
  Backend/src/main/java/com/fourstit/pocari/controller/MainController.java
  Frontend/src/components/Bookmark.vue
  Frontend/src/components/CardIT.vue
  Frontend/src/components/Login.vue
  Frontend/src/components/common/HeaderIT.vue
  Frontend/src/components/newsdetails/Newsdetails.js
  Frontend/src/main.js
  Frontend/src/store/user.js
Labels: front, backend, feat

#17 feat fix MyPageView.vue
  .idea/gradle.xml
  Backend/src/main/java/com/fourstit/pocari/controller/MainController.java
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/components/MyPageView.vue
Labels: front, backend, feat

#16 [design] 북마크 버튼 아이콘 추가, hover 효과
  Frontend/src/components/newsdetails/Newsdetails.css
  Frontend/src/components/newsdetails/Newsdetails.vue
Labels: front, design

#18 CardIT 리스트 css 수정
  Frontend/src/components/CardIT.vue
Labels: front, feat

#21 [design] 메인페이지 디자인 수정
  Frontend/src/components/CardIT.vue
  Frontend/src/components/MainIT.vue
  Frontend/src/components/common/HeaderIT.vue
Labels: front, design

#25 [fix] bookmark list on logout
  Frontend/src/store/bookmark.js
  Frontend/src/store/user.js
Labels: front, fix

#26 fix myinfo @GetMapping
  Backend/src/main/java/com/fourstit/pocari/controller/MainController.java
Labels: backend, feat

#28 [frontend] 헤더 검색창 위치 수정
  Frontend/src/assets/HFcss.css
  Frontend/src/components/common/HeaderIT.vue
Labels: front

#29 [frontend] 헤더 위치 진짜 수정 끝 + 사진 조정
  Frontend/src/assets/HFcss.css
  Frontend/src/components/MainIT.vue
  Frontend/src/components/common/HeaderIT.vue
Labels: front

#31 회원가입 페이지 디자인 수정
  Frontend/index.html
  Frontend/src/components/JoinView.vue
Labels: front, feat

#36 [frontend] 헤더 진짜진짜 최종 수정
  Frontend/src/components/common/HeaderIT.vue
Labels: front

#43 Main page
  Frontend/src/components/MainIT.vue
Labels: backend

#44 [backend] swiper 재재수정 ....
  Frontend/src/components/MainIT.vue
Labels: backend
